name: "Latest game archive"

on:
  push:
    branches:
      - "master"
    tags-ignore:
      - "*"

jobs:
  gh_pre_release:
    runs-on: "ubuntu-latest"
    steps:
      - name: "Checkout source code"
        uses: "actions/checkout@v2"
        with:
          fetch-depth: 0

      - name: "Install Linux deps"
        run: |
          sudo apt install gettext git

      - name: "Creating the archive"
        run: |
          git fetch -t && ./utils/archive.sh

      - uses: "marvinpinto/action-automatic-releases@latest"
        with:
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          automatic_release_tag: "latest"
          prerelease: true
          title: "Latest game archive"
          files: |
            LICENSE
            gameshell.sh
            Dockerfile
